name: Update 3rdparty sources

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * fri'

jobs:
  update-3rdparty:
    runs-on: ubuntu-latest
    if: ${{ github.repository_owner == 'Mudlet' }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - name: mpkg-mpackage
            type: download
            url: https://raw.githubusercontent.com/Mudlet/mudlet-package-repository/refs/heads/main/packages/mpkg.mpackage
            file: mpkg.mpackage
            path: src/
            branch: update-mpkg-mpackage
            title: "Infrastructure: Update bundled mpkg.mpackage to latest upstream"
            body: |
              #### Brief overview of PR changes/additions
              :crown: An automated PR to update mpkg.mpackage to the latest version.
              #### Motivation for adding to Mudlet
              Users are automatically updated to the latest version of mpkg.

          - name: ire-mapper
            type: download
            url: https://raw.githubusercontent.com/IRE-Mudlet-Mapping/ire-mapping-script/gh-pages/downloads/mudlet-mapper.xml
            file: mudlet-mapper.xml
            path: src/
            branch: update-ire-mapping-script
            title: "Infrastructure: Update bundled IRE mapper script to latest upstream"
            body: |
              #### Brief overview of PR changes/additions
              :crown: An automated PR to update the IRE mapper script to the latest version.
              #### Motivation for adding to Mudlet
              So people don't get attacked with a "your mapping script is out of date!" notification as soon as they create a profile for a new IRE game.

          - name: dblsqd
            type: submodule
            submodule_path: 3rdparty/dblsqd/
            path: 3rdparty/dblsqd
            branch: update-dblsqd
            title: "Infrastructure: Update dblsqd to latest in our fork"
            body: |
              #### Brief overview of PR changes/additions
              :crown: An automated PR to update dblsqd to its latest version in our fork.
              #### Motivation for adding to Mudlet
              Get new features, bugfixes, improvements! Stay modern.

          - name: lcf
            type: submodule-branch
            submodule_path: 3rdparty/lcf/
            submodule_branch: 5.1-syntax_5.1
            path: 3rdparty/lcf
            branch: update-lcf
            title: "Infrastructure: Update Lua code formatter to latest upstream branch"
            body: |
              #### Brief overview of PR changes/additions
              :crown: An automated PR to update the built-in Lua code formatter to its latest version in upstream `5.1-syntax_5.1` (parses code only as Lua version 5.1) branch.
              #### Motivation for adding to Mudlet
              Get new features, bugfixes, improvements! Stay modern.

          - name: widecharwidth
            type: curl
            url: https://raw.githubusercontent.com/ridiculousfish/widecharwidth/master/widechar_width.h
            file: src/widechar_width.h
            path: src/widechar_width.h
            branch: update-widechar-width
            title: "Infrastructure: Update widechar_width.h to latest upstream"
            body: |
              #### Brief overview of PR changes/additions
              :crown: An automated PR to update the built-in `src/widechar_width.h` to its latest version in upstream. We don't include it as a submodule as it's just one file.
              #### Motivation for adding to Mudlet
              Better emoji and symbol support! This file helps us tell if a particular character is 0, 1, or 2 widths wide so we can show it correctly in the display.

          - name: singleshot-connect
            type: curl
            url: https://raw.githubusercontent.com/KDAB/KDToolBox/master/qt/singleshot_connect/singleshot_connect.h
            file: 3rdparty/kdtoolbox/singleshot_connect/singleshot_connect.h
            path: 3rdparty/kdtoolbox/singleshot_connect/singleshot_connect.h
            branch: update-singleshot-connect
            title: "Infrastructure: Update singleshot_connect.h to latest upstream"
            body: |
              #### Brief overview of PR changes/additions
              :crown: An automated PR to update the built-in `3rdparty/kdtoolbox/singleshot_connect/singleshot_connect.h` to its latest version in upstream. We don't include it as a submodule as we're using tools from the KDToolBox as we need them.
              #### Motivation for adding to Mudlet
              Latest version of the Qt utility feature that allows singleshot connections.

          - name: cmake-scripts
            type: curl
            url: https://raw.githubusercontent.com/StableCoder/cmake-scripts/main/sanitizers.cmake
            file: 3rdparty/cmake-scripts/sanitizers.cmake
            path: 3rdparty/cmake-scripts/sanitizers.cmake
            branch: update-cmake-scripts
            title: "Infrastructure: Update sanitizers.cmake to latest upstream"
            body: |
              #### Brief overview of PR changes/additions
              :crown: An automated PR to update the built-in `3rdparty/cmake-scripts/sanitizers.cmake` to its latest version in upstream. We don't include it as a submodule as we need just this one file from the entire repo.
              #### Motivation for adding to Mudlet
              Latest version of the CMake utility feature that allows use to use various CMake sanitizers via the `USE_SANITIZER` CMake variable.

    name: Update ${{ matrix.name }}

    steps:
      - uses: actions/checkout@v6
        with:
          ref: development
          submodules: ${{ (matrix.type == 'submodule' || matrix.type == 'submodule-branch') && 'recursive' || false }}
          fetch-depth: ${{ (matrix.type == 'submodule' || matrix.type == 'submodule-branch') && 0 || 1 }}

      - name: Download file
        if: matrix.type == 'download'
        uses: carlosperate/download-file-action@v2.0.2
        with:
          file-url: ${{ matrix.url }}
          file-name: ${{ matrix.file }}
          location: ${{ matrix.path }}

      - name: Download via curl
        if: matrix.type == 'curl'
        run: curl -fS -o ${{ matrix.file }} ${{ matrix.url }}

      - name: Update submodule
        if: matrix.type == 'submodule'
        run: git submodule update --remote ${{ matrix.submodule_path }}

      - name: Update submodule to branch
        if: matrix.type == 'submodule-branch'
        run: |
          cd ${{ matrix.submodule_path }}
          git checkout ${{ matrix.submodule_branch }}
          git pull

      - name: Check for changes
        id: getdiff
        run: |
          if git diff --quiet "${{ matrix.path }}"; then
            echo "No changes detected"
            echo "changes=false" >> $GITHUB_OUTPUT
          else
            echo "Changes detected"
            echo "changes=true" >> $GITHUB_OUTPUT
          fi

      - name: Create pull request
        uses: peter-evans/create-pull-request@v8
        if: steps.getdiff.outputs.changes == 'true'
        with:
          token: ${{ secrets.GH_PAT_UPDATE_3RDPARTY }}
          add-paths: ${{ matrix.path }}
          branch: ${{ matrix.branch }}
          commit-message: (autocommit) Updated ${{ matrix.name }} to latest upstream
          title: ${{ matrix.title }}
          body: |
            ${{ matrix.body }}
            #### Other info (issues closed, discussion etc)
            _update triggered by ${{ github.ref }} ${{ github.sha }}_
          author: mudlet-machine-account <mudlet-machine-account@users.noreply.github.com>
